<div class="row">
  <div class="col-xs-12 col-md-6">
      <form ng-submit="changeSettings()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" placeholder="Name" required ng-model="user.name">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control" placeholder="Email" required ng-model="user.mail">
        </div>
        <div class="form-group">
            <label for="facebook">Facebook profile (optional):</label>
            <input type="text" id="facebook" class="form-control" placeholder="Facebook" ng-model="user.facebook">
        </div>
        <div class="form-group">
            <label for="twitter">Twitter profile (optional):</label>
            <input type="text" id="twitter" class="form-control" placeholder="Twitter" ng-model="user.twitter">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-info" value="Change settings">
        </div>
    </form>
  </div>
  <div class="col-xs-12 col-md-6">
    <form ng-submit="changePassword()">
        <div class="form-group">
            <label for="password">New password:</label>
            <input type="password" id="password" class="form-control" placeholder="New password" required ng-model="password.new">
        </div>
        <div class="form-group">
            <label for="confirm">Confirm new password:</label>
            <input type="password" id="confirm" class="form-control" placeholder="Confirm new password" required ng-model="password.confirm">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-info" value="Change password">
        </div>
    </form>
  </div>
</div>
