<form name="formCreation" ng-submit="publish()">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" class="form-control" placeholder="Title" ng-model="newArticle.title">
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
        <div id="content" text-angular ng-model="newArticle.content"></div>
    </div>
    <div class="form-group">
        <label for="keywords">Keywords:</label>
        <tags-input id="keywords" ng-model="newArticle.tags"></tags-input>
    </div>
    <div class="text-center">
        <button class="btn btn-info" type="submit" ng-disabled="formCreation.$pristine">Adding a new article</button>
    </div>
</form>
