<input ng-model="search" type="text" class="form-control" placeholder="Search">
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users | filter:search | orderBy:name">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.mail }}</td>
            <td>
                <i class="fa fa-trash click" ng-click="confirm = true" ng-hide="confirm"></i>
                <i class="fa fa-check click" ng-click="delete(user)" ng-show="confirm"></i>
                <i class="fa fa-close click" ng-click="confirm = false" ng-show="confirm"></i>
            </td>
        </tr>
    </tbody>
</table>
