<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="keywords" content="<%= keywords %>">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- content %>
  </body>
</html>
