<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>Yoline Dashboard</title>
        <link rel="stylesheet" href="/stylesheets/dashboard.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <i class="fa fa-file-text"></i>
                <p>Yoline</p>
            </div>
            <div class="header-content">
                <div class="breadcrumb breadcrumb-login">
                    <div class="br-content">
                        <span class="home">
                            <a href="#">DASHBOARD</a>
                        </span>
                        <span class="path-divider">/</span>
                        <span class="link">
                            <a href="#">Login</a>
                        </span>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="login-error" style="display:<% if (error) { %>block<% } else { %>none<% } %>;"><%= error %></div>
            <% if (signup) { %>
            <div class="login-form">
                <h3>Sign up</h3>
                <fieldset>
                  <form action="/dashboard/signup" method="post">
                    <input type="email" name="mail" required placeholder="Email">
                    <input type="text" name="name" required placeholder="Name">
                    <input type="password" name="password" required placeholder="Password">
                    <input type="submit" value="Sign up">
                  </form>
                </fieldset>
            </div>
            <% } else { %>
            <div class="login-form">
                <h3>Log in</h3>
                <fieldset>
                  <form action="/dashboard/login" method="post">
                    <input type="email" name="mail" required placeholder="Email">
                    <input type="password" name="password" required size="8" placeholder="Password">
                    <input type="submit" value="Sign in">
                  </form>
                </fieldset>
            </div>
            <% } %>
        </div>
        <div class="footer">
            <div class="company">
                <a href="http://cedced19.github.io">Cedced19</a>
            </div>
            <div class="link">
                <a href="https://github.com/cedced19/yoline">About</a>
                <div class="separator">|</div>
                <a href="https://github.com/cedced19/yoline/wiki">Help</a>
                <div class="separator">|</div>
                <a href="https://github.com/cedced19/yoline/issues">Feedback</a>
                <div class="separator">|</div>
                <a href="http://cedced19.github.io/license">License</a>
            </div>
        </div>
    </body>
</html>
